/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(5, 50, 50);
    -fx-border-color: rgb(50, 100, 50);
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(100, 100, 60);
    -fx-border-color: rgb(50, 90, 50);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(200, 130, 130);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

//@alice
.slide_show_edit_selectedSlide {
    -fx-background-color: rgb(100, 200, 100);
    -fx-border-color: rgb(200, 200, 100);
}
